body {
  margin: 0;
  background:linear-gradient(#219ebc,#8ecae6) ;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 30rem;
}
#kraljevo {
  background-image: url("../images/Kraljevo.jpg");
  background-size: cover;
  padding: 3rem 0 15rem 0;
  height: 30rem;
}
#kraljevo h1,h2 {
  background-color:#ffb703 ;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.2rem 0.2rem;
  text-shadow: 0 0 0.2rem whitesmoke;
}
.three {
  text-align: center;
}
.activ {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem;
  padding: 0.2rem;
}
.activ-1, .activ-2 {
  padding: 0 1rem;
}
#muzej, #zica, #maglic {
  border-radius: 50%;
}
.guide {
  width: 55rem;
  display: flex;
  text-align: center;
  margin: 0 auto 5rem;
  background-color: #fb8500;
  border-bottom:0.5rem solid #023047;
}
.guide-2 {
  padding: 0 3rem;
}
a:visited {
  color: #da2c38;
}
a:hover {
  color: #2b2d42;
}
